<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% spaceless %}{% block pageTitle %}{% endblock %}{% endspaceless %}</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <meta name="description" content="{% block pageDescription %} {% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        
        {% block stylesheet %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
        {% stylesheets 'bundles/airblog/css/normalize.css' 
            'bundles/airblog/css/main.css' 
            filter='cssrewrite,?yui_css'
            output='assets/css/style.css'
        %}
           <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

        {% endblock %}
    </head>
    <body>        
        <header id="header">
            <div class="top">
                <div class="pos-center">
                    
                    <a class="mobile-menu-trigger" href="#">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </a>
                    
                    <div class="menu">
                        <nav>
                            {{ print_main_menu() }}
                            
                        </nav>

                        {{ print_category_list() }}
                        {% if app.user %}
                        <div class="user-panel">
                            <span class="user-name">Zalogowany jako <a href="{{ path('user_accountSettings') }}">{{ app.user.username }}</a></span>
                            <a class="btn-green" href="{{ path('_logout') }}">Wyloguj</a>
                        </div>
                        {% else %}
                        
                        <div class="user-panel">
                            <div class="btn-group">
                                <a class="btn-green" href="{{ path('blog_login') }}">Zaloguj</a>
                                <a class="btn-green" href="{{ path('blog_login') }}">Zarejestruj</a>
                            </div>
                        </div> 
                        {% endif %}
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {% block topImage %}
                <div class="top-image"></div>
            {% endblock %}
        </header>

        <div id="main">

            <div class="header">
                <div class="pos-center">
                    <h2 class="left-side">{% spaceless %}{% block contentTitle %} {% endblock %}{% endspaceless %}</h2>
                    
                    {% if hideSearch is not defined %}
                        <form class="right-side" action="{{ path('blog_search') }}">
                            <input type="text" name="search" value="{{ searchParam is defined ? searchParam : '' }}" placeholder="Wyszukaj">
                        </form>
                    {% endif %}
                </div>
            </div>

            <div class="content">
                <div class="pos-center">
                    {% block content %} {% endblock %}
                    {% if hideSidebar is not defined %}
                    <div class="right-side sidebar">
                        <div class="menu">
                            <h3>Kategorie</h3>
                            {{ print_category_list() }}
                            
                        </div>
                            {{ print_tags_cloud() }}
                        


                        {{ print_recent_commented() }}

                    </div> <!-- .right-side -->
                    {% endif %}
                </div> <!-- .content -->

                <div class="clearfix"></div>
            </div> <!-- .pos-center -->
        </div> <!-- #main -->

        <footer id="footer">
            <div class="top">
                <div class="pos-center">
                    {{ print_main_menu() }}

                </div>
            </div>

            <div class="bottom">
                <div class="pos-center">
                    <div class="copyrights">
                        <p>&copy; 2014 All rights reserved.</p>
                        <span>Autor kursu Maciej Żukiewicz</span>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% javascripts
            '@AirBlogBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
            '@AirBlogBundle/Resources/public/js/vendor/*' 
            '@AirBlogBundle/Resources/public/js/plugins.js'
            '@AirBlogBundle/Resources/public/js/main.js'
            filter='?yui_js'
            output='assets/js/compiled.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {% endblock %}
    </body>
</html>


