{% extends "AirAdminBundle::base.html.twig" %}
{% block pageTitle %}
	{{ parent() }} - Posty
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Wyszukiwanie i filtracja
                    </div>
                    <div class="panel-body">
                        <form action="#" method="get" class="form-inline filter-search" role="form">
                            <div class="form-group">
                                <input type="text" name="title" class="form-control" placeholder="Wyszukaj po tytule">
                            </div>

                            <div class="form-group">
                                <select name="category" class="select-block" placeholder="Kategoria">
                                    <option></option>
                                    <option value="dev">Development</option>
                                    <option value="des">Design</option>
                                    <option value="tech">Technologie</option>
                                    <option value="mob">Mobilne</option>
                                    <option value="games">Gry</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary">Filtruj</button>
                            </div>

                            <div class="form-group pull-right limit">
                                <label for="limit" class="col-lg-5 control-label">Wyników</label>
                                <div class="col-lg-7">
                                    <select name="limit" class="select-block" id="limit" placeholder="Pokaż">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Posty
                    </div>
                    <div class="panel-body">

                        <ul class="nav nav-pills pull-left">
                            <li class="active"><a href="#">Wszystkie (123)</a></li>
                            <li><a href="#">Opublikowane (100)</a></li>
                            <li><a href="#">Nieopublikowane (23)</a></li>
                        </ul>

                        <ul class="nav nav-pills pull-right">
                            <li><a href="#">Dodaj nowy</a></li>
                        </ul>

                        <div class="clearfix"></div>

                        <div style="margin-top: 20px;" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th><a class="sortable" href="#">ID</a></th>
                                        <th><a class="sortable" href="#">Tytuł</a></th>
                                        <th><a class="sortable sort-desc" href="#">Kategoria</a></th>
                                        <th>Tagi</th>
                                        <th><a class="sortable" href="#">Autor</a></th>
                                        <th><a class="sortable" href="#">Data utworzenia</a></th>
                                        <th><a class="sortable" href="#">Data publikacji</a></th>
                                        <th>Akcje</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in pagination %}
                                    <tr>
                                        <td>{{ post.id }}</td>
                                        <td><a href="#">{{ post.title }}</a></td>
                                        <td>
                                            {% if post.category is null %}
                                                Brak kategorii
                                            {% else %}
                                                {{ post.category.name|capitalize }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% for tag in post.tags %}
                                            <span class="label label-info">{{ tag.name }}</span>
                                            {% else %}
                                                Brak tagów
                                            {% endfor %}
                                            
                                        </td>
                                        <td>{{ post.author.username }}</td>
                                        <td>{{ post.createDate|date('d.m.Y, H:i:s') }}</td>
                                        <td>{{ post.publishedDate|date('d.m.Y, H:i:s') }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                                                <a href="#" class="btn btn-danger" data-confirmAction=""><span class="glyphicon glyphicon-trash"></span></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="8">Brak dopasowanych postów</td>
                                    </tr>
                                    {% endfor %}

                            
                                </tbody>
                            </table>
                        </div>

                         {{ knp_pagination_render(pagination, 'AirAdminBundle:Pagination:admin_pagination.html.twig') }}
                    </div> <!-- .panel-body -->
                </div> <!-- .panel -->
            </div> <!-- .col-md-12 -->
        </div> <!-- .row -->
    </div> <!-- .container -->    


{% endblock %}
