<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="pl"><head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    
    <body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0; padding: 0; background-color: #eef8fa;">

        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tr>
                <td colspan="3" style="height: 5px; background-color: #2bcb71"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 20px;"></td>
            </tr>
            <tr>
                <td style="width: 25px;"></td>
                <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 42px; color: #484848;">{% block header %} Witaj! {% endblock %}</td>
                <td style="width: 25px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 30px;"></td>
            </tr>

            <tr>
                <td style="width: 25px;"></td>
                <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
                    <span style="font-weight: bold">Dziękuję za rejestrację na moim blogu.</span> Aby aktywować swoje konto klikij w link poniżej.
                </td>
                <td style="width: 25px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 10px;"></td>
            </tr>
            
            {% block content %}{% endblock %}
            <tr>
                <td colspan="3" style="height: 55px;"></td>
            </tr>
            <tr>
                <td colspan="3" style="height: 5px; background-color: #2bcb71"></td>
            </tr>
            <tr>
                <td colspan="3">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            {% set blogUrl = url('blog_index') %}
                            <td style="width: 25px;"></td>
                            <td style="height: 90px; text-align:left;">
                                <a href="{{ blogUrl }}" style="text-decoration: none;">
                                    <img src="{{ asset('bundles/airblog/img/email/icon-plane.jpg', absolute = true) }}" alt="AirBlog">
                                </a>
                            </td>
                            <td style="height: 90px; text-align: right;">
                                <a href="{{ blogUrl }}" style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 18px; color: #484848; text-decoration: none;">
                                    www.airblog.eduweb.pl
                                </a>
                            </td>
                            <td style="width: 25px;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
</body>
</html>
