{% extends "CommonUserBundle:Email:base.html.twig" %}

{% block content %}
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        Dostaliśmy prośbę o zresetowanie hasła do Twojego konta. 
        
        Poniżej znajduje się link, dzięki któremu możesz tego dokonać.
    </td>
    <td style="width: 25px;"></td>
</tr>
<tr>
    <td style="width: 25px;"></td>
    <td style="font-family: 'Trebuchet MS', Helvetica, sans-serif; font-size: 21px; color: #484848;">
        <a href="{{ resetUrl }}">{{ resetUrl }}</a>
    </td>
    <td style="width: 25px;"></td>
</tr>
{% endblock %}
