<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Panel Administracyjny Blog SF2.">
		
        <title>{% spaceless %} {% block pageTitle %} AirBlog Admin Panel {% endblock %} {% endspaceless %}</title>
		
		<link rel="icon" type="image/png" href="/favicon.png">
        {% block stylesheet %}
            {% stylesheets
                'bundles/airadmin/css/bootstrap*'
                'bundles/airadmin/css/select*'
                'bundles/airadmin/css/blog-admin.css'
                filter='cssrewrite,?yui_css'
                
            %}
            <link href="{{ asset_url }}" rel="stylesheet">
            {% endstylesheets %}

        {% endblock %}
        {% block javascripts %}
             {% javascripts
                '@AirAdminBundle/Resources/public/js/vendor/jquery-1.10.2.min.js'
                '@AirAdminBundle/Resources/public/js/vendor/*'
                '@AirAdminBundle/Resources/public/js/scripts.js'
                filter='?yui_js'
             %}
             <script src="{{ asset_url }}"></script>
             {% endjavascripts %} 
        {% endblock %}
    </head>

    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Rozwiń menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a class="navbar-brand" href="{{ path('blog_index') }}">Blog</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                
                <ul class="nav navbar-nav">
                    {% if currPage is not defined %} {% set currPage = 'dashboard' %} {% endif %}
                    <li {% if currPage == 'dashboard' %} class="active" {% endif %}><a href="{{ path('admin_dashboard') }}">Kokpit</a></li>
                    <li {% if currPage == 'posts' %} class="active" {% endif %}><a href="{{ path('admin_postList') }}">Posty</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Taksonomie <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kategorie</a></li>
                            <li><a href="#">Tagi</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Użytkownicy</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Maciej Żukiewicz</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span></a></li>
                </ul>
            </div>
        </nav>

        <!-- alerts container -->
        {% if app.session.flashBag.has('succes') or app.session.flashBag.has('error') %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for success in app.session.flashBag.get('success') %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Sukces!</strong> {{ success }}
                    </div>
                    {% endfor %}
                    
                    {% for error in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <strong>Błąd!</strong> {{ error }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <!-- /alerts container -->
		
        {% block content %}{% endblock %}

    </body>
</html>