<div class="tag-cloud">
    <h3>Chmura tagów</h3>
    <div class="tags">
        {% for tag in tagsList %}
            <a style="font-size: {{ tag['fontSize'] }}rem" href="{{ path('blog_tag',{'slug':tag['slug']}) }}">
                {{ tag['name'] }}</a>
        {% endfor %}
    </div>
</div>

