{% extends "AirBlogBundle::base.html.twig" %}
{% block pageTitle %}Zaloguj się lub zarejestruj{% endblock %}


{% block contentTitle %}Logowanie i rejestracja{% endblock %}
{% set hideSidebar = true %}
{% set hideSearch = true %}

{% block content %}
    {% include 'AirBlogBundle:Template:flashMsg.html.twig' %}

    <div class="login-register two-cols">
        <div class="col col-bdr">

            <h2 class="strong">Logowanie</h2>

            
            {% form_theme loginForm 'AirBlogBundle:Form:form_template.html.twig' %}
            {{ form(loginForm,{'action':path('_check_path')}) }}

            <div class="remember-pass-form">
                <h2 class="strong">Przypomnij hasło</h2>

               
             {% form_theme rememberPasswordForm 'AirBlogBundle:Form:form_template.html.twig' %}
            {{ form(rememberPasswordForm) }}
            </div>

        </div>

        <div class="col">

            <h2 class="strong">Rejestracja</h2>

            {#<form action="#" method="post">                                

                <div class="form-row">
                    <label for="email" class="required">Email</label>
                    <input type="text" id="email">
                </div>

                <div class="form-row">
                    <label for="email" class="required">Nick</label>
                    <input type="text" id="email">
                </div>

                <div class="form-row">
                    <label for="pass" class="required">Hasło</label>
                    <input type="text" id="pass">
                </div>

                <div class="form-row">
                    <label for="passConf" class="required">Powtorz hasło</label>
                    <input type="text" id="passConf">
                </div>

                <button class="btn-green submit">Zarejestruj</button>
            </form>#}
            {% form_theme registerUserForm 'AirBlogBundle:Form:form_template.html.twig' %}
            {{ form(registerUserForm) }}
        </div>
    </div>

{% endblock %}
